/* --------------------------
   FIREFOX CUSTOM STYLE SHEET
   -------------------------- */
/* Note: Quitefox by https://github.com/coekuss/quietfox */
/* Note: enable toolkit.legacyUserProfileCustomizations.stylesheets in about:config */

* {
    border-radius: 0px !important;
}


/* TABS
   ---- */
scrollbox[part="scrollbox"][flex="1"][orient="horizontal"] {
    padding-left: 12px !important;
}
[sizemode="maximized"] [first-visible-tab] {
    margin-left: -12px !important;
}
[sizemode="maximized"] [first-visible-tab] stack {
    margin-left: 12px !important;
}
#tabs-newtab-button {
    padding: -5px !important;
}

.tab-background,
.tab-loading-burst {
    margin: -1px !important;
    border: none !important;
    box-shadow: none !important;
}
[last-visible-tab] {
    margin-right:  2px !important;
}
.tab-icon-sound-label {
    display: none;
}
#TabsToolbar-customization-target {
    max-height: var(--tab-min-height);
}

/* TOOLBAR
   ------- */
.findbar-textbox:focus {
    border: 1px solid grey !important;
}
#urlbar {
    border: none !important;
}
#urlbar-background {
    border: none !important;
    box-shadow: none !important;
}
#urlbar[breakout-extend] {
    top: 3.5px !important;
    left: 0px !important;
    padding: 0px 0px 0px 0px !important;
    height: auto !important;
    width: 100% !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    padding-block: 0px !important;
    padding-inline: 0px !important;
    padding-bottom: 6px !important;
    margin-bottom: -5px !important;
    margin-top: -1px !important;
    margin-left: 1px !important;
}
.urlbarView {
    width: 100% !important;
    margin-inline: 0px !important;
    box-shadow: 0px 5px 15px -7px black !important;
    border-radius: 0px !important;
    border: none !important;
    padding-top: 0px !important;
}
.urlbarView-body-inner {
    border: none !important;
}
.urlbar-input-box {
    padding: 0px 5px !important;
}

/* CONTEXT MENUS
   ------------- */
#context-navigation,
#context-sep-navigation,
#context-bookmarklink,
#context-viewinfo,
#context-viewpartialsource-selection,
#inspect-separator,
#context-savelink,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_moveTabOptions,
#context_bookmarkTab,
.bookmarks-actions-menuseparator,
.openintabs-menuitem {
    display: none !important;
}

#contentAreaContextMenu {
    margin: 5px !important;
}

.panel-arrowcontainer .panel-arrowcontent,
.menupopup-arrowscrollbox,
hbox[flex="1"][part="innerbox"] {
    border-color: transparent !important;
}
