/* Private Window New Tab Page -- Logo Only */
@-moz-document url(about:privatebrowsing) {
    html.private div.showPrivate div.search-inner-wrapper,
    html.private div.showPrivate div.info {
        display: none !important;
    }
}

/* New Tab Page -- Logo Only */
@-moz-document url(about:newtab) {
    html div.search-inner-wrapper {
        display: none !important;
    }
}
/* New Tab Page -- Logo Only */
@-moz-document url(about:newpage) {
    html div.search-inner-wrapper {
        display: none !important;
    }
}
@-moz-document url(about:home) {
    html div.search-inner-wrapper {
        display: none !important;
    }
}
