[Desktop Entry]
Type=Application
Name=Cloud
Comment=Shortcut to the Fastmail cloud
Exec=xdg-open "https://www.fastmail.com/files/"
Icon=folder-blue-mail-cloud
Terminal=false
