[Desktop Entry]
Comment=Enhanced interactive Python shell
Exec=ipython
GenericName=IPython
Icon=ipython
Name=iPython
Categories=Development;
StartupNotify=false
Terminal=true
Type=Application
Hidden=true
