[Desktop Entry]
Type=Application
Name=Email
Comment=Shortcut to the Fastmail inbox
Exec=xdg-open "https://www.fastmail.com/mail/"
Icon=claws-mail
Terminal=false
