[Desktop Entry]
Type=Application
Name=Email
Comment=Shortcut to the email inbox
Exec=xdg-open "https://mail.piotr-machura.com/"
Icon=claws-mail
Terminal=false
