
[Desktop Entry]
Name=Mousepad
Comment=Simple Text Editor
GenericName=Text Editor
Exec=mousepad %F
Icon=text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
