[Desktop Entry]
Name=Catfish
GenericName=File search
Comment=Search the file system
Keywords=files;find;locate;lookup;search;
Categories=GNOME;GTK;Utility;
Exec=/usr/bin/catfish %f
Icon=catfish
Terminal=false
Type=Application
MimeType=inode/directory;
StartupWMClass=catfish
