[Desktop Entry]
Type=Application
Exec=root
Terminal=true
Name=ROOT
StartupNotify=true
MimeType=application/x-root;text/x-c++src;
Categories=Science;Development;
Icon=root.png
Hidden=true
