[Desktop Entry]
Name=Spotify
Comment=Start Spotify client with tray icon
Exec=spotify-tray
Icon=spotify-client
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Audio;Music;Player;AudioVideo;
StartupNotify=false
